.env
writable/logs/*
!writable/logs/index.html
!writable/logs/.gitkeep
writable/session/*
!writable/session/index.html
!writable/session/.gitkeep
writable/cache/*
!writable/cache/index.html
!writable/cache/.gitkeep
writable/debugbar/*
!writable/debugbar/index.html
!writable/debugbar/.gitkeep

public/uploads/avatars/*
!public/uploads/avatars/.gitkeep
public/uploads/products/*
!public/uploads/products/.gitkeep
